@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
} 

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* debugging */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* flights index */

select {
  margin-left: 3px;
  margin-right: 8px;
}

span {
  display: block;
}

.flights_results {
  li {
    list-style: none;
    border-bottom: 1px $gray-light solid;
    margin-bottom: 8px;
  }
}

/* bookings new */

#caution {
  font-weight: bold;
}

#book_flight {
  margin-top: 13px;
  margin-bottom: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form_control {
    color: $state-danger-text;
  }
}

/* bookings show */

.passengers {
  li {
    list-style: none;
    border-bottom: 1px $gray-light solid;
    margin-bottom: 8px;
  }
}
